<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,32}</string>
                <key>spriteSourceSize</key>
                <string>{14,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{14,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_1_move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{197,0},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_1_move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{319,0},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_4_move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{258,0},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_4_move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{75,0},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_boom_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{0,61},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_boom_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{0,191},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_boom_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{270,61},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_boom_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{135,191},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_boom_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{135,61},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_enemy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{14,0},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_hero_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{136,0},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>qing_tank.png</string>
            <key>size</key>
            <string>{405,321}</string>
            <key>smartupdate</key>
            <string>
                $TexturePacker:SmartUpdate:3c71114e5f1aa5c9d83714838059003e:149f65cb662b68922e558528146af7ba:fa4048dba60d137c8cd6cadaaaa7b184$
            </string>
            <key>textureFileName</key>
            <string>qing_tank.png</string>
        </dict>
    </dict>
</plist>
