<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tank_boom_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{0,0},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_boom_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{270,130},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_boom_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{135,0},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_boom_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{270,0},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_boom_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{405,0},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_boom_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{540,0},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_boom_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{675,0},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_boom_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{810,0},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_boom_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{0,130},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_boom_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,130}</string>
                <key>spriteSourceSize</key>
                <string>{135,130}</string>
                <key>textureRect</key>
                <string>{{135,130},{135,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,70}</string>
                <key>spriteSourceSize</key>
                <string>{53,70}</string>
                <key>textureRect</key>
                <string>{{405,130},{53,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_click1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{458,130},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_click1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{601,130},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_click1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{744,130},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_click1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{0,260},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_click1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{143,260},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_click1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{286,260},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_click1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{429,260},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_click_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{572,260},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_click_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{715,260},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_click_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{858,260},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_click_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{0,387},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_click_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{143,387},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_click_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{286,387},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_click_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{429,387},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_click_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{572,387},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_eagle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{102,94}</string>
                <key>textureRect</key>
                <string>{{715,387},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_eagle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{102,94}</string>
                <key>textureRect</key>
                <string>{{817,387},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_eagle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{102,94}</string>
                <key>textureRect</key>
                <string>{{919,387},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_eagle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{102,94}</string>
                <key>textureRect</key>
                <string>{{0,514},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_eagle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{102,94}</string>
                <key>textureRect</key>
                <string>{{102,514},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_eagle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{102,94}</string>
                <key>textureRect</key>
                <string>{{204,514},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_eagle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{102,94}</string>
                <key>textureRect</key>
                <string>{{306,514},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_eagle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{102,94}</string>
                <key>textureRect</key>
                <string>{{408,514},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_fire_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{510,514},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_fire_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{596,514},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_fire_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{682,514},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_fire_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{768,514},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_fire_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{854,514},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{940,514},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{0,608},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_stay_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{61,608},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_stay_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{122,608},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tank.png</string>
            <key>size</key>
            <string>{1021,669}</string>
            <key>smartupdate</key>
            <string>
                $TexturePacker:SmartUpdate:485e5beb73c748ad70b3c616e142080b:739d9def77455f547837d1ac0c99c2de:61f327f8e64f826627a60724782c709f$
            </string>
            <key>textureFileName</key>
            <string>tank.png</string>
        </dict>
    </dict>
</plist>
